<div class="d-flex mb-2 chat-message <%= mine ? 'justify-content-end' : 'justify-content-start' %>">
  <div class="message-bubble px-3 pb-0 pt-3 rounded-pill <%= mine ? 'bg-white' : 'bg-primary text-white' %>">
    <%= message.content %>
  </div>
</div>
