<div class="game-card p-4 w-50 mx-auto d-flex flex-column bg-success-emphasis ">
    <p class="text-danger fw-semibold"><i class="fa-solid fa-crown yellow"></i> <%= b.game.title %></p>
    <p class="text-success">Statut :  <%= b.status %> </p>
    <p class="text-success">Emprunté par :  <%= b.chat.user.username %></p>
</div>
