<%= turbo_stream_from "user_#{current_user.id}_bookings" %>

<%= render "profiles/booking_management", borrow: @borrow, owner: @owner, viewer: current_user %>

<div id="rating_modal_container"></div>

<%# raise %>
