<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h2>Bienvenu sur ton profil <%= @user.username %></h2>
        </div>
    </div>
</div>

