<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h2>Bienvenu sur ton profil <%= @user.username %></h2>
            <div class="row">
                <div class="col-12">
                    <h3>Info Perso</h3>
                    <p><%= @user.email %></p>
                </div>

                <div class="col-12">
                    <h3>Ma ludo</h3>
                </div>



            </div>
        </div>
    </div>
</div>

