// Define variables for your color scheme

// For example:
$red: #CC484B;
$blue: #1782C4;
$yellow: #FFCA3A;
$orange: #E67E22;
$green: #8AC926;
$purple: #694D93;
// Surface cartes
$white: #FFFFFF;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Background principal
$Blanc-casse:#E4DFDF;

// Texte principal
$Anthracite:#111827;
// Texte secondaire
$Moderngrey:#6B7280;
// Bordures
$lightgray:#E5E7EB;
// Hover neutre
$sweetgrey:#F3F4F6;
$bg-footer:#1e293b;
