.rating {
  width: 65%;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  border: 1px solid $bg-footer;
  border-radius: 15px;
  margin-top: 20px;
  display: flexbox;
  flex-direction: column;
  background: $sweetgrey;

    .fa-solid {
      vertical-align: middle;
    }
    .text-rating {
      margin-top: 1em;
    }

    .fa-medal {
      color:gold;
    }
}

.text-rating span {
  font-style: italic;
  font-size: smaller;
  color: $gray;
}

.card-profil {
  width: 95%;
  background: white;
  margin: 1em auto .5em auto;
  border: 1px solid $bg-footer;
  border-radius: 25px;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  box-shadow: 5px 5px 5px $bg-footer;

    p {
    padding-top: 1em;
    margin-left: 25px;
    margin-right: 25px;
    }

    .fa-solid {
      padding-right: 15px ;
    }

    .fa-brands {
      padding-right: 15px;
    }

    .chevron-toggle {
      transition: transform 0.3s ease;
    }

    &[aria-expanded="true"] .chevron-toggle {
      transform: rotate(90deg);
    }
}

.main-profil {
  padding-top: 15px;

}

.rating {
  padding-top: 25px;
}

.buttons-profil {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  margin-top:5px;
}
