<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-4">
      <div class="mini-card">
        <h3> <%= current_user.username %>, valide ton emprunt en laissant une empreinte de ta CB pour la caution.</h3>
          <p><i class="fa-solid fa-pen-to-square fs-6"></i> Carte bancaire associée à ton compte :  </p>
          <p><i class="fa-brands fa-cc-visa fs-2"></i> **** **** **** 5834</p>
          <p> Date de validité : **/28</p>
          <!-- <p>Veux-tu utiliser cette carte ?</p> -->
          <p><%= link_to "Valider la transaction", validate_booking_path(@booking), data: { turbo_method: :patch }, class: "button" %></p>
          <%= link_to "Annuler", cancel_booking_path(@booking), data: { turbo_method: :patch, turbo_confirm: "Es-tu sûr de vouloir annuler l'emprunt ?" }, class: "button decline" %>
          <p class="fs-3 mt-2">Tu préfères utiliser  <i class="fa-brands fa-cc-paypal"></i> ?</p>
      </div>
    </div>
  </div>
</div>
