<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h2>My Booking</h2>
            <p><%= @booking.id %></p>
            <div class="col-12">
                <p>satus</p>
            </div>
            <div class="col-12">
                <p>report</p>
            </div>
            <div class="col-12">
                <p>rating</p>
            </div>
        </div>
    </div>
</div>