<div class="notif_attente d-flex align-items-center justify-content-center gap-2" data-controller="flash-notif">
  <span><%= message %></span>
  <button data-action="flash-notif#dismiss" class="notif-dismiss" style="background:none;border:none;cursor:pointer;">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
