<footer class="border-top py-3 mt-5">
    <div class="col-12 col-md-6 mt-1 text-center text-md-end">
        <div class="d-flex flex-wrap justify-content-center justify-content-md-end gap-2 mentions">
          <span class="mentions">Contact</span>
          <span class="mentions">Qui sommes-nous ?</span>
          <span class="mentions">Mentions légales.</span>
        </div>
        <p class="site-name mt-1 mb-0">GameShare <i class="fa-regular fa-copyright"></i> Le Wagon-#2278 /2026</p>
      </div>

</footer>
