 <%= link_to "index", games_path %>
  <div class="d-flex justify-content-center mb-4">
    <%= image_tag "logomax.png", alt: "GameShare", class: "logo" %>
  </div>

  <h1 class="mb-5 text-center">
    <span class="red">G</span><span class="blue">a</span><span class="yellow">m</span><span class="red">e</span><span class="blue">S</span><span class="yellow">h</span><span class="red">a</span><span class="blue">r</span><span class="yellow">e</span>
  </h1>
