<% if user_signed_in? %>
<nav class=" fixed-top text-md-end p-2 border-bottom bg-light">
  <div class="text-md-end my-0 d-flex justify-content-between">
    <%= image_tag "logomax.png", alt: "GameShare", class: "logo", height:"35px" %>
    <p class="navbar-brand text-md-end fs-6 text my-0"> <i class="fa-solid fa-user fs-6 text"></i> Bienvenue <%= current_user.username %></p>
  </div>
</nav>
 <% end %>

 <%#= link_to "index", games_path %>
  <div class="d-flex justify-content-center m-5">
    <%= image_tag "logomax.png", alt: "GameShare", class: "logo" %>
  </div>

  <h1 class="mb-5 text-center">
    <span class="red">G</span><span class="blue">a</span><span class="yellow">m</span><span class="red">e</span><span class="blue">S</span><span class="yellow">h</span><span class="red">a</span><span class="blue">r</span><span class="yellow">e</span>
  </h1>
