<div class="m-5 text-center">

  <%= link_to root_path do %>
    <%= image_tag "logomax.png",
        alt: "GameShare",
        class: "logoX mb-3" %>
  <% end %>

  <h1 class="mb-5">
    <span class="red">G</span><span class="blue">a</span><span class="yellow">m</span><span class="red">e</span><span class="blue">S</span><span class="yellow">h</span><span class="red">a</span><span class="blue">r</span><span class="yellow">e</span>
  </h1>

</div>
