<div class=" text-center">

  <%= link_to root_path do %>
    <%= image_tag "logomax.png",
        alt: "GameShare",
        class: "logoX mb-3" %>
  <% end %>

  <h1 class="mb-5 logo-name display-3">
   <span class="red">G</span><span class="blue">a</span><span class="yellow">m</span><span class="purple">e</span><span class="green">S</span><span class="red">h</span><span class="blue">a</span><span class="yellow">r</span><span class="purple">e</span>
  </h1>

</div>
