<div id="rating_modal_container">
  <div class="rating-modal-overlay">
    <%= render "shared/form-rating",
          booking: booking,
          rated_user: rated_user,
          rated_role: rated_role %>
  </div>
</div>
