<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">

      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
          <a href="https://github.com/Celinedesdes" class="text-decoration-none">
            <i class="fab fa-github"></i><span> Céline</span>
          </a>

          <a href="#" class="text-decoration-none">
            <i class="fab fa-github"></i><span> Stéphane</span>
          </a>

          <a href="#" class="text-decoration-none">
            <i class="fab fa-github"></i><span> Florian</span>
          </a>

          <a href="#" class="text-decoration-none">
            <i class="fab fa-github"></i><span> Bruno</span>
          </a>

          <a href="https://github.com/Patrice-BERNARD" class="text-decoration-none">
            <i class="fab fa-github"></i><span> Patrice</span>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <p class="mb-0 text-center text-md-end">
          GameShare <i class="fa-solid fa-face-grin-beam-sweat"></i> at Le Wagon 2026
        </p>
      </div>

    </div>
  </div>
</footer>
