<footer class="footer py-4 fixed-bottom bg-light border-top">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">

      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <div class="d-flex flex-wrap justify-content-around justify-content-md-start gap-2">
          <%= link_to "", root_path, class:"text-decoration-none fa-solid fa-house", id:"home", title:"Accueil", alt:"Icône de retour à l'accueil du site" %>

          <%= link_to "", profile_path, class:"fa-solid fa-dice", id:"ludo", title:"Mes jeux", alt:"Ma ludothèque" %>

          <%= link_to "", "#", class:"fa-solid fa-list-check", id:"emprunt", title:"Mes emprunts", alt:"Liste de mes emprunts" %>

        </div>
      </div>

      <div class="col-12 col-md-6 mt-1 text-center text-md-end">
        <div class="d-flex flex-wrap justify-content-center justify-content-md-end gap-2 mentions">
          <span class="mentions">Contact</span>
          <span class="mentions">Qui sommes-nous ?</span>
          <span class="mentions">Mentions légales.</span>
        </div>
        <p class="site-name mt-1 mb-0">GameShare <i class="fa-regular fa-copyright"></i> Le Wagon-#2278 /2026</p>
      </div>

    </div>
  </div>
</footer>
