<footer class="footer py-4 fixed-bottom bg-light border-top">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">

      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <div class="d-flex flex-wrap justify-content-around justify-content-md-start gap-2">
          <%= link_to "", root_path, class:"text-decoration-none fa-solid fa-house", id:"home", title:"Accueil", alt:"Icône de retour à l'accueil du site" %>

          <%= link_to "", profile_path, class:"fa-solid fa-dice", id:"ludo", title:"Mes jeux", alt:"Ma ludothèque" %>

          <%= link_to "", "#", class:"fa-solid fa-list-check", id:"emprunt", title:"Mes emprunts", alt:"Liste de mes emprunts" %>

        </div>
      </div>

      <div class="col-12 col-md-6 mt-1">
        <p class="mb-0 my-0 text-center text-md-end d-flex flex-columns  align-items-center mentions">
          <p class="mentions m-0">Contact</p>
          <p class="mentions m-0">Qui sommes-nous ?</p>
          <p class="mentions m-0">Mentions légales.</p>
          <p class="site-name mt-1 mb-0">GameShare <i class="fa-regular fa-copyright"></i> Le Wagon-#2278 /2026</p>
        </p>
      </div>

    </div>
  </div>
</footer>
