<div class="container my-5">

  <h1 class="mb-5 text-center">
    <%= @game.title %> by <%= @game.user.username %>
    <!-- <span class="red">L</span> -->
    <!-- <span class="blue">e</span> -->
    <!-- <span class="yellow">s</span> -->
    <!-- <span>&nbsp;</span> -->
    <!-- <span class="orange">J</span> -->
    <!-- <span class="green">e</span> -->
    <!-- <span class="red">u</span> -->
    <!-- <span class="blue">x</span> -->
  </h1>


<%= link_to "Démarrer conversation",  game_chats_path(@game), data: { turbo_method: :post }, class:"btn btn-primary rounded-sm" %>

</div>
