

.form-label{
  color:gray;
  text-align: center;
}

.form-rating-container {
  width: 30%;
  background-color:rgba(210, 210, 210, 0.885) ;
  border-radius: 15px;
  margin: auto;
  box-shadow: 2px 2px 2px $bg-footer;

}
