.game-card-big {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);

}

.game-image-big {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  border-radius: 25px;
  // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.game-content {
  padding: 30px;
}

.game-content .txt {
  color: $bg-footer;
  margin-bottom: 12px;
}

.game-rules {
  color: $bg-footer;
  background: white;
  border-radius: 15px;
  padding: 20px;
}

.game-title-big {
  display: inline-block;
  color: white;
  padding: 15px;
  border-radius: 25px;


}


.game-image-container {
  position: relative;
}

.game-title-overlay {
  position: absolute;
  left: 0px;
  top: 250px;
  margin: 0;
  padding: 8px 18px;
  font-size: 50px;
  border-radius: 0 30px 30px 0;
  z-index: 10;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
  .game-card-big {
    margin-left: 10px;
    margin-right: 10px;
  }

  .game-image-big {
    height: 240px;
  }

  .game-content {
    padding: 20px;
  }

.game-image-big {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin: 0;
  background: transparent;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
}

.game-card-big {
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);

}


}
