.game-card {
  position: relative;
  min-height: 300px;
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  background: $bg-footer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.game-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 66.66%;
  height: 100%;

  background-image: var(--game-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 0;
}

.game-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.4s ease;
}

.game-card:hover::before {
  opacity: 0;
}

.game-card > * {
  position: relative;
  z-index: 2;
}


.game-title {
  color: white;
  font-size: 35px;
  padding: 5px;
  border-radius: 0 30px 30px 0;
  margin-top: 70px;
  text-align: center;
  display: inline-block;
  margin-left: -20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.bg-title-red {
  background: $red;
}

.bg-title-blue {
  background: $blue;
}

.bg-title-yellow {
  background: $yellow;
}

.bg-title-orange {
  background: $orange;
}

.bg-title-green {
  background: $green;
}

.bg-title-purple {
  background: $purple;
}

.txt {
  color: white;
}
.txt-borrow {
  color:black;
}

a {
  text-decoration: none;
}


@media (max-width: 576px) {

  .game-card{
    margin-left: 10px;
    margin-right: 10px;
  }

  .game-card-link {
    margin-left: 10px;
    margin-right: 10px;
  }


}
