
.h2 {
  font-weight: 600;

  position: relative;

  font-size: 2rem;
  font-weight: 600;

  text-align: center;
  text-transform: uppercase;
}

.slogan {
  text-align: center;
  text-transform: uppercase;

  span {
    color: $purple;
    font-style: italic;
  }

}
