.map {
  border-radius: 25px;
  margin-bottom: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 8px 30px 8px 12px;
  background-color: $Anthracite;
  border-radius: 8px;

  h3 {
    font-size: 0.75rem;
    margin: 0;
  }
}

.mapboxgl-popup-tip {
  border-top-color: $Anthracite !important;
}
