#actions_attentes {
    margin-top: 1rem;
}

.notif_attente {
    padding: 0.375em 1em;
    background-color: $bg-footer;
    border-radius: 0.2em;
    color: #fff;
    position: relative;
    z-index: 1049;

    span {
        color: #fff;
        font-size: 0.75rem;
    }

    a {
        color: #fff;
    }
}

.notif-dismiss {
    font-size: 0.75rem;
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}