.red {
  color: $red;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}

.white {
  color: $white;
}

