.red {
  color: $red;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}

.white {
  color: $white;
}

.red2 {
  color: $red;
  border: 0;
  background: transparent;

  .lightgrey {
  color: $light-gray;
  }
}

.text-info-emphasis {
  color: #ff6600 !important;
  font-weight: bold;
}
