// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.24.0/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/_game_card";
@import "components/_mini_card";
@import "components/_game_card_big";
@import "components/_logo";
@import "components/_map";
@import "components/_footer";
@import "components/search";



body.bg-red-light {
  background-color: #FAF0F2;
}

body.bg-blue-light {
  background-color: #EEF7FC;
}

body.bg-yellow-light {
  background-color: #FBF7EA;
}

body.bg-orange-light {
  background-color: #FAF3EB;
}

body.bg-green-light {
  background-color: #F1F8ED;
}

body.bg-purple-light {
  background-color: #F4F0FA;
}


.m {
  margin-top: 600px;
}
