<p>Hello <%= @resource.email %>!</p>
<p>Quelqu'un a demandé un lien pour changer le mot de passe. Tu peux le faire eb cliquant qur le lien suivant : </p>


<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
